/* место для вашего кода */
.body {
   
}

.header content-section {
  font-weight: 400;
}

.header {
  
}

.header_menu {
  
 }

.header_links {
   
}

.header_links item-no-bullet {
 
}

.header_link-active {
  
}

.header_logo {
  
}

.header_image-logo {
  
}

.header_link-item {
   
}

.header_link-active {
 
}

.header_address {
 ;
}

.header_address-phone-l {
  
}

.header_address-emai-l {
 
}

.header_post-address {

}

/*
.cover {
  position: relative;
  display: flex;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center top;
  min-height: 757px;
}
  */
