/* место для вашего кода */
/* хедер */

.header {
  display: grid;
  grid-template-columns: 440px max-content 440px;
  /*grid-template-rows: min-content;
  grid-template-areas: inherit;*/
  padding: 92px 24px;
  gap: 10px;
  text-decoration-color: #000;
  border: 1px solid red;
  padding-left: 1px;;
}

.header__menu {
  display: flex;
  list-style-position: inside;
  padding-left: 5px;
  border: 1px solid greenyellow;
}

.menu__links {
  display: flex;
  align-items: center;
  justify-items: baseline;
  list-style-type:circle;
  
  padding-right: 1px;
  border: 1px solid hsl(216, 73%, 37%);
}

.link__list {
  font-weight: 400;
  text-underline-offset: 4px;
  border: 1px solid #6a15d2;
}

.main__link_marker {
  list-style-type: none;
}

.link__main {
 list-style-type: none;
}

.logo__img {
  object-fit: none;
  height: 148px;
}
  address {
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.05px;
  justify-items: end;
  align-items: last baseline;
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  font-style: normal;
  border: 1px solid greenyellow;
}


/* ковер */

