/* место для вашего кода */
.body {
position: relative;
  box-sizing: border-box;
  min-width: 500px;
  min-height: 100vh;
  margin: 0;
  padding: 55px 35px 45px 95px;
}

.container {
  
}





.description {

}

.lots {

}

.header {
  padding: 92px 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr) repeat(1, 2fr) repeat(4, 1fr);
  font-size: 18px;
}

.header-content-selection {
  font-weight: 400;
}

.header-menu {
  grid-column: span 4;
  grid-column-start: span 4;
  grid-column-end: auto;
  display: flex;
  align-items: center;
}

.header-logo {
  display: block;
  grid-column: 5 / 6;
  justify-self: center;
}

.header-links {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style-type: circle;
}

.header_link-item {
  list-style-type: circle;
}

.header_links-list-item_no-bullet {
  text-decoration: none;
  list-style-type: none;
}

.header_link-active {

}

.header-address {

}

.header-phone {

}

.header-email {

}

.header-post-address {

}

.cover {
  position: relative;
  display: flex;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center top;
  min-height: 757px;
}