/* место для вашего кода */
/* хедер */
.header {
  display: grid;
  grid-template-columns: 405px min-content 405px;
  grid-template-rows: 1fr;
  padding: 92px 24px;
  gap: 120px;
}

.header__menu {
  display: flex;
  /*flex-direction: row;*/
  align-self: center
  justify-self: center;
  }

.menu__links {
  list-style-type: circle;
}

.link__list {
  flex-direction: row;
  font-weight: 400;
  text-underline-offset: 4px;
}

.main__link_marker {
  list-style-type: none;
}

.link__main {
  text-decoration: none;
}

.address {
  padding-left: 185px;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.18px;
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  font-style: normal;
}

.logo__img {
  height: 148px;
  width: 105;
}
/* ковер */

